header {
    Background-color: #595959;
    width: 100%; 
    top: 0;
    left: 0;
}

header .nav {
    display: inline-flex;
    align-items: left;
    max-width: 1200px;
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

header .nav li {
    list-style: none;
    padding: 10px 0px;
}

header .nav li a:hover {
    background: white;
    color: #595959;
    padding-top: 10px;
    padding-bottom: 11px
}

header .nav > li > a {
	text-decoration: none;
    padding: 0 20px;
    color: #d2fcec; 
}

header .nav > li > ul {
    list-style: none;
    position: absolute;
    top: 46px;
    background: #595959;
    padding: 0px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;  
}

header .nav li:hover ul {
    opacity: 1;
    visibility: visible; 
}
header .nav  li  ul a {
    list-style: none;
    padding-left: 20px;
    text-decoration: none;
    color: #d2fcec;
    padding-right: 35px;

}

label {
    background-color: #595959;
    margin: 0;
    padding: 0 0 0 30px;
    font-size: 26px;
    line-height: 70px;
    display: none;
    color: #d2fcec; 
    width: 26px;
}

#toggle {
    display: none
}

@media only screen and (max-width: 640px) {
    label {
      display: block;
      cursor: pointer;
    }

    header .nav {
        width: 100%;
        display: block;
        Display: none;
    }
    
    #toggle:checked +.nav {
        display: block;
    }

    header .nav li ul {
        width: 100%;
        z-index: 1;
    }

    }
