nav {
    overflow: hidden;
    background-color: #595959;
  }
  
  nav a {
    margin: 0;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  nav a:hover {
    background-color: #D2FCEC;
    color: #595959;
  }