.nav {
	Background-color: #595959;
    color: #ffffff;
    list-style: none;
    text-align: left;
    padding: 15px 15px 15px 25px;
    margin: 0;
}

.nav > li {
	Display: inline-block;
    padding-right:  40px;
}
	
.nav > li > a {
	text-decoration: none;
    color: #d2fcec; 
    padding: 5px
}

.nav > li > a:hover {
    border: 1px solid #d2fcec;
    padding: 5px
}
