@font-face {
  font-family: ArchivoBlack;
  src: url("ArchivoBlack-Regular.ttf");
}

.topheader {
  font: 3em "ArchivoBlack", sans-serif;
  text-shadow: 1px 1px lightgrey;
}

h1 {
    color: #53BDA6;
    font-family: 'ArchivoBlack', sans-serif;
    font-weight: 700;
}
.projectheader {
  color: #595959;
  font:3em "ArchivoBlack", sans-serif;
  text-shadow: 1px 1px lightgrey;
  background-color: #d2fcec;
  padding: 20px 10px 40px 40px;
  Display: block;
  Width: 100%;
}
.introheader {
  color: #595959;
  font:4em "ArchivoBlack", sans-serif;
  text-shadow: 1px 1px lightgrey;
}

body {
    font-family: 'lato', sans-serif;
}

a {
text-decoration: none;
}


#letterone {
    color: #595959;
    font-weight: bold;
    font-size: 20px;
}

.indentP {
    text-indent: 30px;
}

footer {
    Background-image: url(images/woven-cloth-g61e7e6072_1280.jpg);
    background-size: 100%;
    color: #d2fcec;
    padding: 20px
}

footer a {
  color: #d2fcec;
}

.contentheader {
    Background-color: #defcec;
    padding: 20px 10px 40px 40px;
    Display: block;
    Width: 800px;
    }


.gridcontainer1 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  margin: 40px;
}

.grid-item-1 {
  text-align: center;
  margin-top: 30px;
  padding-top: 10px;
}

.grid-item-3 {
  width: 200px;
  height: 50px;
  font-size: 25px;
  text-align: center;
}

.grid-item-3 > a {
	border: 2px solid #595959;
    text-decoration: none;
    color: #595959;
    background-color: #d2fcec; 
    padding: 14px 48px;
    box-shadow: 3px 3px lightgrey; 
    cursor: pointer;
}

.grid-item-4 {
  display: grid;
  padding: 0p;
  place-items: center;
}

.grid-item-6 {
border: 2px solid #EBA696;
text-align: center;
box-shadow: 3px 3px lightgrey; 
cursor: pointer;
}

#indexintro {
  background-color: #d2fcec;
  padding: 50px;
  margin-top: 20px;
  
}

#indexintro h3 {
  color: #595959;
}

#indexcontent {
  margin: 40px 80px;
}

.gridcontainer2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 30p 0 0 30px;
  margin: 40px 0 0 40px;
  text-align: center;
  align-content: center;
  position:relative;
  text-align: center;
 
}

.gridcontainer2 a {
  text-decoration: none;
  color: #595959;
  text-align: center;
  font:1em "ArchivoBlack", sans-serif;
}

.gridcontainer3 {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

#grid-item-5 {
  padding: 30px 30px 0px 30px;
}

#grid-item-6 {
  padding: 0px 30px 30px 30px;
}
.gridcontainer4 {
  display: grid;
  grid-template-columns: auto;
  gap: 0;
  padding: 20px 30px 0px 30px;
}

#competencybox {
  border: 2px solid #defcec;
  padding: 0 20px 20px 20px
}

.gridcontainer5 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 0px;
  padding: 20px;
  text-align: center;
  align-content: center;
  position:relative;
  text-align: center;
}

.gridcontainer7 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  padding: 20px;
  text-align: center;
  align-content: center;
  position:relative;
  text-align: center;
  margin: 10px 50px 30px 50px;
}

.gridcontainer7 a {
  text-decoration: none;
  color: #595959;
  text-align: center;
  font:1em "ArchivoBlack", sans-serif;
}

#aboutitem {
  border: 2px solid #595959;
  padding: 20px 30px;
  background-color: #EBA696;
  width: 100px;
  height: 28px;
  box-shadow: 3px 3px lightgrey; 
  cursor: pointer;
}
#projectitem {
  border: 2px solid #595959;
  padding: 10px 30px;
  background-color: #EBA696;
  width: 100px;
  box-shadow: 3px 3px lightgrey; 
  cursor: pointer;
}

#reflectionitem {
  border: 2px solid #595959;
  padding: 10px 30px;
  background-color: #EBA696;
  width: 100px;
  box-shadow: 3px 3px lightgrey; 
  cursor: pointer;
  
}

#contactitem {
  border: 2px solid #595959;
  padding: 10px 30px;
  background-color: #EBA696;
  width: 100px;
  box-shadow: 3px 3px lightgrey; 
  cursor: pointer;
}
.iconcredit {
  font-size: smaller;
}

.icon {
  transition: .2s;
  background: none;
  border: none;
}

.icon:hover {
  transform: scale(1.4);
}

#P1Item1 {
  background-color: #d2fcec;
  padding: 20px;
}
/*mobile style*/ 

@media only screen and (max-width: 640px) {
  .gridcontainer2 {
    display: grid;
    grid-template-columns: auto;
    gap: 40px;
    margin: 40px;
  }    

  .gridcontainer1 {
    display: grid;
    grid-template-columns: auto;
    gap: 30px;
    margin: 40px;
  }
  .gridcontainer3 {
    display: grid;
    grid-template-columns: auto;
    max-width: 680;

  }
  .gridcontainer5 {
    display: grid;
    grid-template-columns: auto ;
    gap: 10px;
    padding: 20px;
    align-content: center;
  }

  #grid-item-5 {
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
  }

  .introheader {
    width: 680px;
  }
}

/*print stylesheet*/

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  nav {
    display: none;
  }
  header {
    margin-bottom: 0;
  }
  .gridcontainer1 {
    display: grid;
    grid-template-columns: auto;
    gap: 0;
    margin: 0;
  }
  .topheader {
    font-size: 2em;
  }
  .grid-item-1 {
    display: none;
  }
  .grid-item-4 {
    display: none;
  }
  .grid-item-3 {
    display: none;
  }
  .grid-item-6 {
    border: 1px solid #000;
    text-align: center;
    }
  @page {
    margin: 1in;
  }
}